:root {
  --content-width: 1160px;
}

h1, h2 {
  border-bottom: none;
  padding-bottom: 2rem;
  font-weight: bold;
}

.content-width {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2.5rem;
}
