name: build

on: push

jobs:
  files-changed:
    name: Detect File Changes - build
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.filter.outputs.build }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.7
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            build:
              - '.github/workflows/**/*'
              - 'backend/**/*'

  build:
    if: needs.files-changed.outputs.build == 'true'
    name: Build
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.7
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4.0.3
        with:
          node-version-file: './.tool-versions'
      - name: Install Dependencies & Build Library
        run: |
          npm install
          npm run build
        working-directory: ./backend