name: backend:test:lint

on: push

jobs:
  files-changed:
    name: Detect File Changes - lint
    runs-on: ubuntu-latest
    outputs:
      lint: ${{ steps.filter.outputs.lint }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            lint:
              - '.github/workflows/**/*'
              - 'backend/**/*'

  lint:
    if: needs.files-changed.outputs.lint == 'true'
    name: Lint
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.1.7
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4.0.3
        with:
          node-version-file: './.tool-versions'
      - name: Lint
        run: npm install && npm run lint
        working-directory: ./backend
