name: lint test CI

on: push

jobs:
  build-test:
    name: Lint Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Setup Node 22.13.1
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4.0.3
        with:
          node-version: '22.13.1'

      - name: npm-install
        run: npm install
      
      - name: npm-test
        run: npm test
